{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "tabWidth": 2,
  "doubleQuote": true,
  "printWidth": 100,
  "useTabs": false,
  "trailingComma": "all",
  "endOfLine": "auto"
}